## 데이터베이스 다시풀기

In [1]:
#1. sakila database의 모든 table을 "테이블명.csv" 형식으로 
# 새로운 folder sakila에 파일형식으로 저장하시오

# 2. world 데이터베이스에서 country 테이블에서 인구수가 10,000,000 이상인 국가명을 출력하시오
#(1) sql로 처리를 해서 값만 출력
#(2) 데이터를 dataframe으로 불러와서 pandas로 값을 구하는 방법

# 3.'GovernmentForm'에 'Republic'이라는 텍스트가 포함된 국가를 출력
# 4. (country name, city name)형식으로 묶어서 출력
# 5. europe  또는 asia 국가만 출력하고, 각각 인구수가 가장 많은 국가를 출력하시오.

# 6. 대륙별 평균수명과 평균수명이 가장 높은 국가를 출력하시오

# 7.sakila 데이터베이스의 rental 테이블에서 월별 렌탈 수를 출력하시오
# 8.payment 테이블에서 월별 총매출. 평균매출. 렌탈 건수 합을 출력하시오

In [7]:
import pandas as pd
import numpy as np
import MySQLdb

In [12]:
db = MySQLdb.connect(host='localhost', port ='3306, user='root',password= '1234')

In [15]:
sql="""show databases;"""

cursor.execute(sql)
cursor.fetchall()

(('information_schema',),
 ('budongsan',),
 ('employees',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sqldb',),
 ('sys',),
 ('world',))

In [18]:
#6. 'world'데이터베이스에서 대륙별 평균수명과 평균수명이 가장 높은 국가를 출력하시오
sql="""use world;"""
cursor.execute(sql)

0

In [19]:
sql = "show tables"
cursor.execute(sql)
cursor.fetchall()

(('city',), ('country',), ('countrylanguage',))

In [20]:
sql = "select * from country;"
df_country = pd.read_sql(sql,db)
df_country.head(3)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO

In [22]:
# 대륙별 평균수명
# (1) pandas

df_country.groupby('Continent')['LifeExpectancy'].mean()

Continent
Africa           52.571930
Antarctica             NaN
Asia             67.441176
Europe           75.147727
North America    72.991892
Oceania          69.715000
South America    70.946154
Name: LifeExpectancy, dtype: float64

In [25]:
# 출력하는 법

temp_dic = df_country.groupby('Continent')['LifeExpectancy'].mean().to_dict()

for i,j in temp_dic.items():
    print(i,j)

Africa 52.5719298245614
Antarctica nan
Asia 67.44117647058823
Europe 75.14772727272727
North America 72.99189189189188
Oceania 69.715
South America 70.94615384615385

In [24]:
# (2) sql
sql = """
select Continent, LifeExpectancy from country
group by Continent;
"""
cursor.execute(sql)
cursor.fetchall()

(('Asia', 45.9),
 ('Europe', 71.6),
 ('North America', 78.4),
 ('Africa', 38.3),
 ('Oceania', 75.1),
 ('Antarctica', None),
 ('South America', 75.1))