### string,list 오답노트

string

In [2]:
txt1 = ' A tale that was not right '
txt2 = '이 또한 지나가리라 '

In [3]:
#4.txt1에서 모음의 갯수는 몇 개인가?
cnt =0
for c in txt1:
    if c in "aeiouAEIOU":
        cnt +=1
print(cnt)

7

In [ ]:
#14.
log = 'name : 홍길동, age: 17, sex: 남성, nation: 대한민국'
아래와 같이 출력하시오

# name=> '홍길동'
# age=> 17
# sex=> 남성

log = log.split("")

In [22]:
#txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오
lst = []
for i,v in enumerate(txt1):
    lst.append((i,v))
lst

# append 로 튜플을 리스트에 넣을 수 있는 지 의문이었지만
# 리스트에 추가하는 거면 종류 상관없이 가능

[(0, ' '),
 (1, 'A'),
 (2, ' '),
 (3, 't'),
 (4, 'a'),
 (5, 'l'),
 (6, 'e'),
 (7, ' '),
 (8, 't'),
 (9, 'h'),
 (10, 'a'),
 (11, 't'),
 (12, ' '),
 (13, 'w'),
 (14, 'a'),
 (15, 's'),
 (16, ' '),
 (17, 'n'),
 (18, 'o'),
 (19, 't'),
 (20, ' '),
 (21, 'r'),
 (22, 'i'),
 (23, 'g'),
 (24, 'h'),
 (25, 't'),
 (26, ' ')]

list

In [16]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3) ]

In [17]:
# 'python'을 'world'로 수정하시오
indx = score.index('python')
score[indx] = 'world'
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [18]:
# True 를 False로 수정하시오
indxT = score.index(True)  # 문자열인지 아닌지 판단하고 index함수에 대입 :'True'(x)
score[indxT] = False   
score

[81, 90, 78, 'world', 'hello', False, [78, 56, 32], (24, 25, 3)]

In [19]:
# 'world'를 제거하시오
# del score[3] 혹은
score.remove('world')  #인덱스 몰라도 처음 나오는 'world' 제거 가능

In [20]:
#[78,56,32]를 78:56:32로 수정하시오

#[78,56,32]의 인덱스 찾기
num = [78,56,32]
indx = score.index(num) # 인덱스 = 5

# join 함수를 쓰기 위해 리스트 원소를 문자열로 바꿔야 함
score[indx]=["78","56","32"]   # score[5] = ["78","56","32"]

# join 함수 사용 :로 연결시켜 리스트 값 변경
score[indx] = ":".join(score[indx])
score

[81, 90, 78, 'hello', False, '78:56:32', (24, 25, 3)]